{% extends "front/base.html" %}

{%block sub-title%}{{ space.name }} | {% endblock %}

{% block sub-style%}
.space-viewer {
	width: 950px;
}
.sv-renderer {
	background-color: #FFF;
	border: solid 1px #000;
	width: 950px;
	height: 330px;
}
.sv-message-panel {
	margin: 5px 0px;
	padding: 5px 5px;
	width: 940px;
	height: 120px;
	border: solid 1px #345;
	overflow: auto;
}
#key-catcher { width: 0px; height: 0px; z-index: -10; position: absolute; top: 30px; left: 30px;}
.user-message{
	margin: 0 0 5px 0;
}
.space-viewer input[type='text'] { width: 895px; }
.space-viewer input [type='submit'] { width: 40px; }
{% endblock %}

{% block sub-head %}
<script src="{% url blank_slate.wind.views.windjs %}"></script>
<script src="{{STATIC_URL}}glge/glge-compiled-min.js"></script> 
<script src="{% url spaciblo.sim.views.spaciblo_js %}"></script>

<script>
GLGE.error = function(message){ console.error(message);};

var space_client = null;
var sv_canvas = null;
var input_manager = null;

function initialize(){
	sv_canvas = new SpacibloRenderer.Canvas('canvas');
	space_client = new Spaciblo.SpaceClient({{ space.id }}, sv_canvas);
	space_client.open_handler = handle_client_open;
	space_client.close_handler = handle_client_close;
	space_client.authentication_handler = handle_client_auth;
	space_client.join_space_handler = handle_join_space;
	space_client.add_user_handler = handle_add_user;
	space_client.user_message_handler = user_message_handler;
	space_client.suggest_render_handler = function() {};
	space_client.open();
	$("#key-catcher").focus();
	$("#canvas").click(function(e){ $("#key-catcher").focus(); });
}

function handle_client_open(){
	space_client.authenticate();
}

function handle_client_close(){
	if(sv_canvas != null) sv_canvas.close();
	user_message_handler(null, 'Disconnected from the server.');
}

function handle_client_auth(successful){
	if(!successful){
		console.log("Could not auth.");
		return;
	}
	space_client.joinSpace();
}

function handle_join_space(successful){
	if(!successful){
		console.log("Could not join the space.");
		return;
	} else {
		space_client.addUser(Spaciblo.defaultPosition, Spaciblo.defaultOrientation);
	}
}

function handle_add_user(){
	if(sv_canvas.initialize(space_client.sceneJson, space_client.username)){
		space_client.scene = sv_canvas.scene;
		setupInput();
		$("#key-catcher").focus();
		setInterval(tick, 25);
	} else {
		console.log("Could not initialize the renderer");
	}
}

function setupInput(){
	input_manager = new SpacibloInput.InputManager(space_client);
	input_manager.add_event_source($("#key-catcher"));
	$("#key-catcher").focus();
	$("#sv-canvas").click(function(event){ $("#key-catcher").focus(); });
	$("#key-catcher").keypress(function(event){
		if(event.keyCode == 13){ $("#command-input").focus(); }
	});
	$("#key-catcher").keydown(function(event){
		if(event.keyCode == 191){
			$("#command-input").focus();
			$("#command-input").value = "/";
		}
	});
	$("#command-input").keydown(function(event){
		if(event.keyCode == 27 /* escape */) $("#key-catcher").focus();
	});
}

function tick() {
	input_manager.mouse_look();
	input_manager.handle_keys();
	sv_canvas.render();
}

function user_message_handler(username, message){
	var messagePanel = document.getElementById('sv-message-panel');
	var role = "";
	if(username){
		role = '<div class="user-message"><span class="user-message-username">' + username + '</span>: ';
	}
	messagePanel.innerHTML = role + '<span class="user-message-text">' + message + '</span></div>' + messagePanel.innerHTML;
}

function handle_command_input(){
	var input = document.getElementById('command-input');
	var value = input.value;
	input.value = "";
	
	if(value == "/close"){
		space_client.close();
		return;
	} else if(value == "/loc"){
		var camera = space_client.scene.camera;
		var mess = '[' + camera.locX + ', ' + camera.locY + ', ' + camera.locZ + '] [' + camera.rotX + ', ' + camera.rotY + ', ' + camera.rotZ + ']';
		user_message_handler('system', mess);
	} else if (value == "/scene"){
	   console.dir(space_client.scene);
	} else if(value.length > 0){
		space_client.sendUserMessage(value);
	}
	
	$("#key-catcher").focus();
}

$(document).ready(initialize);
</script>
{% endblock %}

{% block content%}
<div id="sv-1" class="space-viewer">
	<canvas id="canvas" class="sv-renderer" width="950" height="330"></canvas>
	<div id="sv-message-panel" class="sv-message-panel">&nbsp;</div>
	<form onsubmit="handle_command_input(); return false;">
		<input type="text" id="command-input" name="command-input" /><input type="submit" name="send" value="send" />
	</form>
</div>
<input type="text" id="key-catcher" size="1" />
{% endblock %}
